@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #151515;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-geist), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-mona-sans), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
